//
   Created by Hasitha Isuru on 07/02/2018.

doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title Login
        //meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=yes')
        link(rel='stylesheet prefetch', href='https://fonts.googleapis.com/css?family=Open+Sans')
        link(rel='stylesheet', href='/stylesheets/login.css')
    body
        include common_header
        .cont
            .back_gradient
                .demo
                    .login
                        .login__check
                        .login__form
                            form(action='/login',method='post')
                                .login__row
                                    svg.login__icon.name.svg-icon(viewbox='0 0 20 20')
                                        path(d='M0,20 a10,8 0 0,1 20,0z M10,0 a4,4 0 0,1 0,8 a4,4 0 0,1 0,-8')
                                    input.login__input.username(type='text',name='username', placeholder='Username')
                                .login__row
                                    svg.login__icon.pass.svg-icon(viewbox='0 0 20 20')
                                        path(d='M0,20 20,20 20,8 0,8z M10,13 10,16z M4,8 a6,8 0 0,1 12,0')
                                    input.login__input.pass(type='password',name='password', placeholder='Password')
                                button.login__submit Sign in
                                p.login__signup
                                    | Don't have an account?
                                    a Sign up
        script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')