doctype html

html
    head
        title Registration Form
        // metatags
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
        //meta(name='keywords', content='Sports Camp Registration Form a Flat Responsive Widget,Login form widgets, Sign up Web 	forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements')
        script(type='application/x-javascript').
            addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
            function hideURLbar(){ window.scrollTo(0,1); }
        // Meta tag Keywords
        // css files
        link(rel='stylesheet', href='css/jquery-ui.css')
        link(rel='stylesheet', href='/stylesheets/registration.css', type='text/css', media='all')
        // stylesheet-css
        link(rel='stylesheet prefetch', href='https://fonts.googleapis.com/css?family=Josefin+Sans:100,100i,300,300i,400,400i,600,600i,700,700i')
        //link(href='//fonts.googleapis.com/css?family=Josefin+Sans:100,100i,300,300i,400,400i,600,600i,700,700i', rel='stylesheet')
        link(rel='stylesheet prefetch', href='https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i')
        // //css files
        //link(rel='stylesheet', href='/stylesheets/dashboard/bower_components/bootstrap/dist/css/bootstrap.min.css')
            // Font Awesome
        link(rel='stylesheet', href='/stylesheets/dashboard/bower_components/font-awesome/css/font-awesome.min.css')
        // Ionicons
        link(rel='stylesheet', href='/stylesheets/dashboard/bower_components/Ionicons/css/ionicons.min.css')
        // Theme style
        link(rel='stylesheet', href='/stylesheets/dashboard/dist/css/AdminLTE.min.css')
        //
          AdminLTE Skins. Choose a skin from the css/skins
          folder instead of downloading all of them to reduce the load.
        link(rel='stylesheet', href='/stylesheets/dist/css/skins/_all-skins.min.css')
        // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
        // WARNING: Respond.js doesn't work if you view the page via file://
        //
          if lt IE 9script(src='https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js')
          script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
        // Google Font
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic')
        style.
            .color-palette {
                height: 35px;
                line-height: 35px;
                text-align: center;
            }

            .color-palette-set {
                margin-bottom: 15px;
            }

            .color-palette span {
                display: none;
                font-size: 12px;
            }

            .color-palette:hover span {
                display: block;
            }

            .color-palette-box h4 {
                position: absolute;
                top: 100%;
                left: 25px;
                margin-top: -40px;
                color: rgba(255, 255, 255, 0.8);
                font-size: 12px;
                display: block;
                z-index: 7;
            }
    body
        //h1 Registration Form
        .w3l-main
            .w3l-from
                .alert.alert-success.alert-dismissible
                    //button.close(type='button', data-dismiss='alert', aria-hidden='true') ×
                    h3
                        i.icon.fa.fa-check(align="center")
                        | Alert!
                    h4
                        | Successfully Submitted For Registration.
        //footer
            | © 2018 Student Registration Form. All Rights Reserved | eSolutions

        // Default-JavaScript
        script(type='text/javascript', src='js/jquery-2.1.4.min.js')
        // Calendar
        script(src='js/jquery-ui.js')

        script(src='/stylesheets/dashboard/bower_components/jquery/dist/jquery.min.js')
        // Bootstrap 3.3.7
        script(src='/stylesheets/dashboard/bower_components/bootstrap/dist/js/bootstrap.min.js')
        // FastClick
        script(src='/stylesheets/dashboard/bower_components/fastclick/lib/fastclick.js')
        // AdminLTE App
        script(src='/stylesheets/dashboard/dist/js/adminlte.min.js')
        // AdminLTE for demo purposes
        script(src='/stylesheets/dashboard/dist/js/demo.js')

